.version.index /* version checker */
{
	color: #0000E3;
	background-color: #855ECC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6399px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#u78
{
	z-index: 2;
	min-height: 76px;
	background-color: #782B00;
	padding-bottom: 1px;
}

#u126-4
{
	z-index: 5;
	width: 318px;
	min-height: 66px;
	background-color: transparent;
	line-height: 43px;
	color: #C7B299;
	text-align: center;
	font-size: 36px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 421px;
}

#u78-bw
{
	z-index: 2;
	min-height: 76px;
}

#u128-4
{
	z-index: 9;
	width: 114px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 423px;
	margin-top: 31px;
	position: relative;
}

#u132-4
{
	z-index: 13;
	width: 628px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 166px;
	margin-top: 13px;
	position: relative;
}

#pu120
{
	width: 0.01px;
	margin-left: 145px;
	margin-top: 20px;
}

#u120
{
	z-index: 3;
	width: 261px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#pu137-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 321px;
}

#u137-5
{
	z-index: 112;
	width: 96px;
	min-height: 33px;
	background-color: transparent;
	line-height: 41px;
	color: #772200;
	text-align: center;
	font-size: 34px;
	font-family: league-script-no-1, sans-serif;
	font-weight: 400;
	margin-left: 127px;
	position: relative;
}

#u130-31
{
	z-index: 81;
	width: 325px;
	min-height: 251px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u138
{
	z-index: 117;
	min-height: 72px;
	background-color: #782B00;
}

#u139-4
{
	z-index: 120;
	width: 318px;
	min-height: 66px;
	background-color: transparent;
	line-height: 43px;
	color: #C7B299;
	font-size: 36px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 486px;
}

#u138-bw
{
	z-index: 117;
	min-height: 72px;
	margin-top: 69px;
}

#u145-4
{
	z-index: 17;
	width: 628px;
	min-height: 34px;
	background-color: transparent;
	line-height: 34px;
	color: #5E9C6D;
	text-align: center;
	font-size: 28px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 73px;
	margin-top: 18px;
	position: relative;
}

#u276-4
{
	z-index: 21;
	width: 354px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #5E9C6D;
	text-align: center;
	font-size: 15px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 290px;
	margin-top: 1px;
	position: relative;
}

#u146-4
{
	z-index: 33;
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 166px;
	margin-top: 25px;
	position: relative;
}

#ppu141-16
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 14px;
}

#u141-16
{
	z-index: 124;
	width: 495px;
	min-height: 177px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	position: relative;
}

#u147-4
{
	z-index: 45;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 131px;
	margin-top: 13px;
	position: relative;
}

#u380-22
{
	z-index: 164;
	width: 497px;
	min-height: 98px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u477
{
	z-index: 623;
	width: 391px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 530px;
}

#pu354
{
	width: 0.01px;
}

#u354
{
	z-index: 624;
	width: 391px;
	background-color: #000000;
	padding-bottom: 148px;
	position: relative;
	margin-right: -10000px;
}

#u337
{
	z-index: 635;
	width: 104px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 22px;
}

#u320
{
	z-index: 629;
	width: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 141px;
}

#u331
{
	z-index: 633;
	width: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 243px;
}

#u325
{
	z-index: 631;
	width: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 47px;
}

#u342
{
	z-index: 637;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 123px;
}

#u348
{
	z-index: 639;
	width: 75px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 197px;
}

#u355
{
	z-index: 641;
	width: 91px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 277px;
}

#u360
{
	z-index: 643;
	width: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 28px;
}

#u365
{
	z-index: 645;
	width: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 103px;
}

#u370
{
	z-index: 647;
	width: 82px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 191px;
}

#u375
{
	z-index: 649;
	width: 101px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 269px;
}

#u390-4
{
	z-index: 625;
	width: 353px;
	min-height: 24px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 4px;
	position: relative;
}

#u275-4
{
	z-index: 57;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 157px;
	margin-top: 13px;
	position: relative;
}

#pu270
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 7px;
}

#u270
{
	z-index: 599;
	width: 381px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u381-7
{
	z-index: 186;
	width: 528px;
	min-height: 126px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 392px;
}

#u391-4
{
	z-index: 140;
	width: 392px;
	min-height: 24px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 21px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u482-17
{
	z-index: 848;
	width: 828px;
	min-height: 110px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
}

#pu148-4
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 10px;
}

#u148-4
{
	z-index: 53;
	width: 332px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 81px;
}

#u382-47
{
	z-index: 193;
	width: 872px;
	min-height: 98px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
}

#u382-25
{
	text-decoration: underline;
}

#u382-33,#u382-35,#u382-38,#u382-41,#u382-44
{
	text-decoration: none;
}

#u277
{
	z-index: 601;
	width: 363px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 459px;
}

#u149-4
{
	z-index: 65;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 185px;
	margin-top: 11px;
	position: relative;
}

#u481-4
{
	z-index: 844;
	width: 867px;
	min-height: 31px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 35px;
	margin-top: 4px;
	position: relative;
}

#pu389-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: -7px;
}

#u389-4
{
	z-index: 160;
	width: 328px;
	min-height: 93px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u384
{
	z-index: 621;
	width: 515px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 343px;
}

#u479-6
{
	z-index: 838;
	width: 867px;
	min-height: 31px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 35px;
	margin-top: 1px;
	position: relative;
}

#u479-2
{
	letter-spacing: -1px;
}

#u150-4
{
	z-index: 77;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 185px;
	margin-top: 12px;
	position: relative;
}

#u383-16
{
	z-index: 144;
	width: 865px;
	min-height: 195px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 38px;
	margin-top: 8px;
	position: relative;
}

#pu151
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 14px;
}

#u151
{
	z-index: 118;
	height: 19px;
	background-color: #C69C6D;
}

#u151-bw
{
	z-index: 118;
	margin-top: 34px;
	height: 19px;
}

#u407
{
	z-index: 656;
	width: 643px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 259px;
}

#u394-5
{
	z-index: 657;
	width: 73px;
	min-height: 50px;
	background-color: transparent;
	line-height: 32px;
	color: #772200;
	font-size: 27px;
	font-family: league-script-no-1, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u395-11
{
	z-index: 662;
	width: 592px;
	min-height: 29px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 51px;
}

#u153-4
{
	z-index: 25;
	width: 628px;
	min-height: 34px;
	background-color: transparent;
	line-height: 34px;
	color: #5E9C6D;
	text-align: center;
	font-size: 28px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	left: -33px;
	margin-top: 22px;
	position: relative;
}

#u421-4
{
	z-index: 742;
	width: 692px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #5E9C6D;
	text-align: center;
	font-size: 15px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 106px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u162-4
{
	z-index: 37;
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 237px;
	margin-top: 11px;
	position: relative;
}

#pu165-4
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 11px;
}

#u165-4
{
	z-index: 61;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 143px;
}

#u163-19
{
	z-index: 240;
	width: 728px;
	min-height: 134px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u163-15
{
	text-align: left;
}

#u402-23
{
	z-index: 259;
	width: 448px;
	min-height: 246px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
}

#u456
{
	z-index: 805;
	width: 281px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 512px;
}

#u461-8
{
	z-index: 807;
	width: 382px;
	min-height: 41px;
	background-color: transparent;
	color: #FF0000;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 387px;
	left: 479px;
}

#u463-23
{
	z-index: 815;
	width: 728px;
	min-height: 229px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 70px;
	margin-top: 10px;
	position: relative;
}

#u168-4
{
	z-index: 69;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 213px;
	margin-top: 17px;
	position: relative;
}

#u423-48
{
	z-index: 282;
	width: 718px;
	min-height: 380px;
	background-color: transparent;
	font-weight: 400;
	margin-left: 70px;
	margin-top: 7px;
	position: relative;
}

#u423-38,#u423-40
{
	color: #9E005D;
	font-family: source-code-pro, sans-serif;
}

#u436-59
{
	z-index: 746;
	width: 718px;
	min-height: 453px;
	background-color: transparent;
	font-weight: 400;
	margin-left: 70px;
	margin-top: 15px;
	position: relative;
}

#u423-35,#u436-7
{
	color: #9E005D;
}

#u423-42,#u436-10
{
	color: #006837;
}

#u436-15,#u436-19,#u436-21
{
	color: #9E005D;
	font-family: pt-serif, sans-serif;
}

#u436-23,#u436-24
{
	color: #006837;
	font-family: pt-serif, sans-serif;
}

#u436-28,#u436-34
{
	color: #000000;
	font-family: source-code-pro, sans-serif;
	font-weight: 400;
}

#u436-40
{
	color: #000000;
	font-family: source-code-pro, sans-serif;
}

#u436-17,#u436-26,#u436-32,#u436-43,#u436-44,#u436-54,#u436-55,#u436-57
{
	color: #000000;
	font-family: pt-serif, sans-serif;
}

#u429-4
{
	z-index: 73;
	width: 290px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 165px;
	margin-top: 17px;
	position: relative;
}

#u428-73
{
	z-index: 330;
	width: 718px;
	min-height: 398px;
	background-color: transparent;
	font-weight: 400;
	margin-left: 70px;
	margin-top: 8px;
	position: relative;
}

#u461,#u436-29,#u436-37,#u436-45,#u436-48,#u436-51,#u428-14,#u428-18,#u428-20,#u428-22,#u428-25,#u428-28,#u428-31,#u428-35,#u428-37,#u428-39,#u428-44,#u428-46,#u428-48
{
	color: #000000;
}

#u423-32,#u436-41,#u428-56,#u428-63
{
	font-family: source-code-pro, sans-serif;
	font-weight: 400;
}

#u423-36,#u423-43,#u423-45,#u436-38,#u428-15,#u428-16,#u428-23,#u428-26,#u428-29,#u428-32,#u428-33,#u428-41,#u428-42,#u428-50,#u428-66,#u428-68
{
	font-family: source-code-pro, sans-serif;
}

#u423-5,#u423-6,#u423-8,#u423-9,#u423-14,#u423-16,#u423-18,#u423-20,#u423-21,#u423-26,#u423-27,#u423-29,#u423-30,#u423-33,#u423-46,#u436-2,#u436-3,#u436-5,#u436-8,#u436-12,#u436-13,#u436-30,#u436-35,#u436-49,#u436-52,#u428-2,#u428-3,#u428-11,#u428-12,#u428-51,#u428-53,#u428-54,#u428-57,#u428-58,#u428-60,#u428-61,#u428-64,#u428-69,#u428-71
{
	font-family: pt-serif, sans-serif;
}

#u210
{
	z-index: 119;
	height: 19px;
	background-color: #C69C6D;
}

#u210-bw
{
	z-index: 119;
	margin-top: 16px;
	height: 19px;
}

#pu206-4
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 21px;
}

#u206-4
{
	z-index: 29;
	width: 628px;
	min-height: 34px;
	background-color: transparent;
	line-height: 34px;
	color: #5E9C6D;
	text-align: center;
	font-size: 28px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u418-6
{
	z-index: 736;
	width: 61px;
	min-height: 42px;
	background-color: transparent;
	line-height: 32px;
	color: #772200;
	font-size: 27px;
	font-family: league-script-no-1, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 447px;
}

#pu203-4
{
	width: 0.01px;
	margin-left: 98px;
	margin-top: 8px;
}

#u203-4
{
	z-index: 41;
	width: 141px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u209-4
{
	z-index: 49;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u410-4
{
	z-index: 709;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #602500;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 612px;
}

#ppu317-10
{
	width: 0.01px;
	margin-left: 30px;
}

#pu317-10
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 313px;
}

#u317-10
{
	z-index: 611;
	width: 281px;
	min-height: 146px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u413-8
{
	z-index: 689;
	width: 197px;
	min-height: 59px;
	background-color: transparent;
	color: #782B00;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 50px;
}

#u202-8
{
	z-index: 403;
	width: 281px;
	min-height: 146px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u409-8
{
	z-index: 681;
	width: 167px;
	min-height: 59px;
	background-color: transparent;
	color: #782B00;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 55px;
}

#u414-12
{
	z-index: 697;
	width: 267px;
	min-height: 87px;
	background-color: transparent;
	color: #782B00;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 661px;
}

#u411-19
{
	z-index: 713;
	width: 281px;
	min-height: 187px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 631px;
}

#u415-4
{
	z-index: 732;
	width: 187px;
	min-height: 37px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 631px;
}

#pu312
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 11px;
}

#u312
{
	z-index: 609;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u307
{
	z-index: 607;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 244px;
}

#u297
{
	z-index: 603;
	width: 238px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 492px;
}

#u302
{
	z-index: 605;
	width: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 737px;
}

#pu214
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 11px;
}

#u214
{
	z-index: 411;
	min-height: 62px;
	background-color: #782B00;
}

#u215-4
{
	z-index: 413;
	width: 318px;
	min-height: 66px;
	background-color: transparent;
	line-height: 43px;
	color: #C7B299;
	text-align: center;
	font-size: 36px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-bottom: -14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 425px;
}

#u214-bw
{
	z-index: 411;
	min-height: 62px;
	margin-top: 35px;
}

#u397-5
{
	z-index: 651;
	width: 73px;
	min-height: 50px;
	background-color: transparent;
	line-height: 32px;
	color: #772200;
	font-size: 27px;
	font-family: league-script-no-1, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 403px;
}

#u137,#u394,#u418,#u397
{
	font-family: allura, cursive;
	font-weight: 400;
}

#u398-8
{
	z-index: 673;
	width: 568px;
	min-height: 29px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 470px;
}

#pu263-4
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 9px;
}

#u263-4
{
	z-index: 425;
	width: 212px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #782B00;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u226-4
{
	z-index: 504;
	width: 321px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #782B00;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 375px;
}

#pppu264-12
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 12px;
}

#pu141-16,#ppu264-12
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu264-12
{
	width: 0.01px;
	margin-left: 41px;
}

#u264-12
{
	z-index: 492;
	width: 243px;
	min-height: 34px;
	background-color: transparent;
	text-align: right;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u265-11
{
	z-index: 588;
	width: 218px;
	min-height: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u265-5,#u265-6,#u265-7,#u265-9
{
	text-align: right;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#u264-3,#u264-7,#u265-8
{
	font-style: italic;
}

#u218-4
{
	z-index: 421;
	width: 212px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #782B00;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 69px;
	margin-top: 11px;
	position: relative;
}

#pu219-4
{
	width: 0.01px;
	margin-top: 10px;
}

#u219-4
{
	z-index: 429;
	width: 132px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u220-4
{
	z-index: 433;
	width: 132px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 151px;
}

#u221-4
{
	z-index: 437;
	width: 132px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 152px;
}

#u222-4
{
	z-index: 441;
	width: 132px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	font-family: raleway, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 189px;
	left: 151px;
}

#u224-21
{
	z-index: 471;
	width: 293px;
	min-height: 146px;
	background-color: transparent;
	text-align: right;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu228-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 390px;
}

#u228-6
{
	z-index: 514;
	width: 470px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u231-7
{
	z-index: 550;
	width: 470px;
	min-height: 62px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 3px;
	position: relative;
}

#u229-6
{
	z-index: 520;
	width: 470px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 4px;
	position: relative;
}

#u232-7
{
	z-index: 557;
	width: 470px;
	min-height: 85px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 3px;
	position: relative;
}

#u266-6
{
	z-index: 526;
	width: 470px;
	min-height: 40px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u267-4
{
	z-index: 564;
	width: 470px;
	min-height: 37px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u399-6
{
	z-index: 532;
	width: 470px;
	min-height: 40px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u400-4
{
	z-index: 568;
	width: 470px;
	min-height: 37px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u217-4
{
	z-index: 417;
	width: 212px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #782B00;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 104px;
	margin-top: 12px;
	position: relative;
}

#pu223-26
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: -8px;
}

#u223-26
{
	z-index: 445;
	width: 293px;
	min-height: 210px;
	background-color: transparent;
	text-align: right;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#pu227-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 390px;
}

#u227-6
{
	z-index: 508;
	width: 321px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-left: 65px;
	position: relative;
}

#u227,#u227-3
{
	color: #782B00;
}

#u230-6
{
	z-index: 538;
	width: 470px;
	min-height: 40px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u233-4
{
	z-index: 572;
	width: 470px;
	min-height: 39px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u268-6
{
	z-index: 544;
	width: 470px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 8px;
	position: relative;
}

#u265-2,#u228-2,#u229-2,#u266-2,#u399-2,#u230-2,#u268-2
{
	text-align: right;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u265-4,#u228-4,#u229-4,#u266-4,#u399-4,#u230-4,#u268-4
{
	font-family: raleway, sans-serif;
	font-weight: 600;
}

#u269-4
{
	z-index: 576;
	width: 470px;
	min-height: 39px;
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 3px;
	position: relative;
}

#u252
{
	z-index: 412;
	min-height: 50px;
	background-color: #782B00;
	padding-bottom: 16px;
}

#u78_align_to_page,#u138_align_to_page,#u214_align_to_page,#u252_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u254-4
{
	z-index: 584;
	width: 289px;
	min-height: 42px;
	background-color: transparent;
	line-height: 24px;
	color: #C7B299;
	font-size: 20px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 142px;
}

#u253-4
{
	z-index: 580;
	width: 283px;
	min-height: 42px;
	background-color: transparent;
	line-height: 24px;
	color: #C7B299;
	font-size: 20px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 675px;
}

#u252-bw
{
	z-index: 412;
	min-height: 50px;
	margin-top: 42px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

